/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=PT+Serif&family=Playfair+Display:wght@500&family=Roboto:wght@500&display=swap');
/* font-family: 'Andada Pro', serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------=========--------------Creating Variables-----------------=======--------------- */
:root{
    
    --primary-color:#4458dc;
    --primary-color2:#854fee;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#201f1f17;
    --graddient-color:linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow:0px 10px 30px rgba(8, 4, 26, 0.205);
} 
.para{
    font-family: 'PT Serif', serif;
    color: var(--text-color);
}
a{
    text-decoration: none;
}
/*-----------===============--------*** Navbar ***---------------===========--------- Start */

.navbar{
    font-weight:bolder;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.navbar-brand{
    padding-left: 7rem;
    color:var(--primary-color) !important ; 
    font-family: 'PT Serif', serif;
}

.navbar-brand:hover{
    transform: scale(1.1);
}

.nav-link{
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
 }

.nav-link:hover{
    color: var(--primary-color2) !important;   
    transform: scale(1.3);
      
}
/*-----------===============-----------------******Navbar*******-------------====--------- End */

/*-----------============------------****Main section****----------======---------Start */

.site-banner{
    background: url("image/home-banner.png")no-repeat center center/cover !important;
}
ul{
    list-style: none;
    font-family: 'Andada Pro', serif;
}
li{
    padding: .3rem;
}
.site-title h1{
    font-size: 3.3rem;
}
.site-title h3::after{
    content:"" ;
    height: 2px;
    width:12vw;
    background: black;
    display: inline-block;
    margin-left: 3%;
    transform: translate(-10px);
}
button{
    padding: .6rem 2rem;
    margin: .3rem;
    position: relative;
    border: 3px solid transparent;
    font-family: 'Andada Pro', serif;
}
.primary-btn{
    background: var(--graddient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);

}
.primary-btn:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}
.primary-btn::after,.secondary-btn::after{
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background:var(--graddient-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
    
}
.secondary-btn{
    background: whitesmoke;
    background-clip: padding-box;
    transition: background.6s ease;
}
.secondary-btn:hover{
    background: var(--graddient-color);
    box-shadow: var(--box-shadow);
    color: whitesmoke;
}
/*---------===============--------------****Main section****----------========-------End */

/*----------===================  About  section  ===================Start--------------*/

.about-area h2 > span{
    display: block;
    letter-spacing: 21px;
    font-family: 'Roboto', sans-serif;
}

.modal-body img:hover{
    box-shadow: var(--box-shadow);
    filter: brightness(1.05);
    transform: scale(1.04);
}
/*----------===================  About  section  ===================End------------ */

/* -----------==============++++++++++++ Services Area +++++++++++------------==========---- */ 


 .site-main .services-area .services-title{
    padding: 0 14rem;
} 
.services-title h1{
    font-size: 35px;
}

.services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 1rem .5rem;
    transition: box-shadow .7s ease;
}

.services:hover{
    box-shadow: var(--box-shadow);
}

.services-list h5{
    font-family: 'Roboto', sans-serif;
}

/* ---------====-------=++++++    End Services Area  ++++++=====-----========------------- */ 

/* ---------=====++++++    Project Area  ++++++=============------------- Start*/ 
.project-title h1{
    font-size: 35px;
}

.container-project {
    overflow: hidden;
  }
  
  .filterDiv {
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .shows {
    display: block;
  }
  
  /* Style the buttons */
  .btn-project {
    border-color:var(--primary-color);
    outline: none;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: var(--graddient-color);
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn-project:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn-project.active {
    background-color: var(--primary-color2);
    color: white;
  }

  /* ////////////////////////////************projects image style*** //////////////////////////*****/

  .grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    text-align: center;
    cursor: pointer;   
}

.grid figure img {
    position: relative;
    display: block;
    height:18rem;
    width: 20rem;
    min-height: 100%;
    
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
}


.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
}

.grid figure h2 {
    letter-spacing: 1.5px;
    font-weight: 200;
}

.grid figure p {
    padding-top: 2rem;
    letter-spacing: 1px;
    font-size: 68.5%;
}

/***** Oscar *****/

.effect-oscar {
    background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    font-family: 'Roboto', sans-serif;
}

.effect-oscar img {
    opacity: 0.9;
    transition: opacity 0.35s;
}

.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58, 52, 42, 0.7);
    transition: background-color 0.35s;
}

.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

.effect-oscar h2 {
    margin: 14% 0 10px 0;
    transition: transform 0.35s;
    transform: translate3d(0, 100%, 0);
}

.effect-oscar figcaption::before,
.effect-oscar p {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0);
}

.effect-oscar:hover h2 {
    transform: translate3d(0, 0, 0);
}

.effect-oscar:hover figcaption::before,
.effect-oscar:hover p {
    opacity: 1;
    transform: scale(1);
}

.effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

.effect-oscar:hover img {
    opacity: 0.4;
}

/* ---------=====++++++    Project Area  ++++++=============------------- End*/ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0 .5rem 0;
    background: url("image/footer-bg.png") no-repeat center center/cover;
}
.site-logo img{
    height: 13rem;
    width: 10rem;
    border-radius: 15px;
    transition: transform .7s ease,box-shadow .5s ease;
}

.site-logo img:hover{
    box-shadow: 0px 15px 30px rgba(15, 7, 54, 0.905);
    filter: brightness(1.1);
    transform: scale(1.1);
}

footer.footer-area .social h5{
    font-family: 'Roboto', sans-serif;
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 1.5rem;
    color: var(--secondary-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
    transform: scale(1.2);
}


/* End Footer */ 

/*---***-----=======-----++++++----////---****Responsive design****--////+++----====--***---Start */
@media (max-width:992px) {
    .site-title h1{
        font-size: 2.3rem;
    }
    button{
        padding: .2rem .6rem;   
    }
}
@media (max-width:768px) {
    .site-title h1{
        font-size: 1.6rem;
    }
    .site-title h3{
        font-size: .9rem;
    }
    .site-title h4{
        font-size: 1rem;
    }
    .services-title h1,.project-title h1{
        font-size: 26px;
    }
    /* project area buttton */
    .btn-project {
        padding: 3px 2px;
        margin:2px 0;
        font-size: 14px;
        border:none;
        border-bottom:1px solid var(--primary-color);
        border-top:1px solid var(--primary-color);
      }
}
/*---***-----====-----++++++-/////---****Responsive design****--/////--+++++------==--***---End */